* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: var(--dark-green);
    border-bottom: 5px solid var(--light-green);
    color: var(--light-text);
}

.logo {
    width: 50px;
    height: 50px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--dark-green);
  background: var(--white);
}

:root {
  --black: #000000;
  --white: #ffffff;
  --cream: #e9e3cf;
  --dark-green: #315235;
  --light-green: #2d8757;
  --light-text: #e9e3cf;
  --active-text: #eac500;
  
}


