.dome-marker {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 43%;
  height: 43%;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  z-index: 2;
}

.dome-marker-label {
  color: var(--dark-green);
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  background-color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
}

.mapContainer {
  border-top: 5px solid var(--dark-green);
  border-bottom: 5px solid var(--dark-green);
}
