.dome-marker {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 43%;
  height: 43%;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  z-index: 2;
}

.dome-marker-label {
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.mapContainer {
  border-top: 5px solid var(--dark-green);
  border-bottom: 5px solid var(--dark-green);
}
