
.block {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 0px 20px 0 20px;
    gap: 10px;
    font-size: 1.3em;
    font-weight: 400;
}

.block div {
    flex: 1;
}

.info-image {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}