
.block {
    display: flex;
    flex-direction: row;
    background-color: var(--white);
    padding: 20px;
    border-radius: 20px;
    gap: 10px;
    border: 3px solid var(--light-green);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.35);
}

.block div {
    flex: 1;
}

.info-image {
    max-width: 40vw;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}