.dome-page-title {
  text-align: center;
  margin: 1.5rem 0 1rem 0;
  font-size: 2.5rem;
  color: var(--dark-green);
}

.button-controls {
  display: flex;
  gap: 10px;
  align-items: center;
}

.toggle-labels-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 18%;
  height: 18%;
  border-radius: 50%;
  background-color: var(--cream);
  border: 2px solid var(--light-green);
  color: var(--dark-green);
  font-size: 1em;
  cursor: pointer;
  font-weight: 600;
}

.dome-page-description {
  text-align: center;
  margin: 1.5rem 2rem;
  font-size: 1.1rem;
  line-height: 1.6;
  color: var(--dark-green);
}

.mapContainer {
  position: relative;
}

.mapMarker {
  position: absolute;
  transform: translate(-50%, 0%);
  cursor: pointer;
  z-index: 2;
  transition: transform 0.2s ease;
}

.mapMarker:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

.markerDot {
  width: 30px;
  height: 30px;
  background-color: var(--light-green);
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.markerDot:hover {
  background-color: var(--dark-green);
  transform: scale(1.2);
  transition: all 0.2s ease;
}

.markerLabel {
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
  text-align: center;
  transform: translateY(2px);
}

